<div class="mini-cart-popup">
    <div class="cart-header">
        <h2>My Cart</h2>
        <button class="close-btn" (click)="showDialog()">&times;</button>
    </div>

    <div class="separator"></div>

    @for (item of (cartItems$|async); track $index) {
        <div class="cart-item">
            <img [src]="item.product.thumbnail" alt="Product Image" class="product-image">
            <div class="product-details">
                <p>{{item.product.title}}</p>
                <p class="price">€{{item.product.price}}</p>

                <div class="quantity-selector">
                    <button (click)="decreaseCount(item.product.id)" class="minus-btn">−</button>
                    <input type="text" [value]="item.count" class="quantity-input">
                    <button (click)="increaseCount(item.product.id)" class="plus-btn">+</button>

                </div>

            </div>
            <button (click)="removeFromCart(item.product)" class="delete-btn">🗑️</button>
 

            

        </div>
    }

    <div class="total">
        <span>Total:</span>
        <span class="total-amount">{{totalPrice$|async |number: '2.0-1'}}</span>
    </div>
    <div class="cart-footer">
        <button class="view-bag-btn">View Bag ({{(cartItems$|async).length  }})</button>
        <button class="checkout-btn">Checkout</button>
    </div>
</div>