<div class="mini-cart-popup">
    <div class="cart-header">
        <h2>My Cart</h2>
        <button class="close-btn" (click)="showDialog()">&times;</button>
    </div>

    <div class="separator"></div>

    @for (item of (cartItems$|async); track $index) {
        <div class="cart-item">
            <img [src]="item.thumbnail" alt="Product Image" class="product-image">
            <div class="product-details">
                <p>{{item.title}}</p>
                <p class="price">€{{item.price}}</p>
                <div class="quantity-selector">
                    <button class="minus-btn">−</button>
                    <input type="text" value="1" class="quantity-input">
                    <button  class="plus-btn">+</button>
                </div>
            </div>

                <button  (click)="removeFromCart(item.id)" class="delete-btn">🗑️</button>
            

        </div>
    }

    <div class="total">
        <span>Total:</span>
        <span class="total-amount">£65.00</span>
    </div>
    <div class="cart-footer">
        <button class="view-bag-btn">View Bag ({{(cartItems$|async).length  }})</button>
        <button class="checkout-btn">Checkout</button>
    </div>
</div>