nav{
    padding: 10px;
    background-color: #002985;
    span{
        color: white;
        margin-left: 5px;
    }

    input{
        border: none;
        text-indent: 10px;
        border-radius: 4px;
        height: 33px;
        &:focus{
            outline: 0;
        }
    }
}

.cart-design{
    position: relative;
    .my-cart{
        position: absolute;
        top: 42px;
        right: 0;
        z-index: 999;
    }
}

.second-nav{
    ul{
        width: 70%;
        li{
            color: #101828;
            font-weight: 600;
            font-size: 13px;
        }
    }

    background-color: #E6ECFC;
}