<nav class="">
    <div class="container-fluid px-5">
        <div class="row  d-flex align-items-center ">
            <div class="col-md-1">
                <img src="../../../assets/Logo.png" alt="">
            </div>
            <div class="col-md-9">
                <input [formControl]="searchControl"   type="text" class="w-100" name="" id="" placeholder="search for product">
            </div>
            <div class="col-md-1 d-flex align-items-center " role="button">
                <img src="../../../assets/bookmark.png" alt="">
                <span>Wishlist</span>
            </div>
            <div class="col-md-1 d-flex align-items-center cart-design" role="button" >
                <img (click)=" showDialog()" src="../../../assets/Icons.png" alt="">
                <span (click)=" showDialog()">cart</span>
                @if (visible$|async) {
                    <div class="my-cart" >

                        <app-add-to-cart></app-add-to-cart>
                    </div>
                }



            </div>

        </div>

    </div>
</nav>