<div class="side-bar  container ">
  <div class="category">
    <p class="title">Category</p>


    <ul class="list-unstyled">
      @for (item of category; track $index) {
        <li (click)="getCategoryName(item.slug)"  [ngClass]="{'active': categoryName==item.slug}">{{item.name}}</li>
      }
    </ul>
  </div>

  <div class="brand">
    <p class="title">Brand</p>
    <div class="flex-column d-flex justify-content-center gap-3">
      <div class="d-flex align-items-center justify-content-between ">
        <p-checkbox class="label" label="Samsung" name="mobile" value="Samsung" />
        <span class="count">12</span>
      </div>
      <div class="d-flex align-items-center justify-content-between">
        <p-checkbox class="label" label="Sony" name="mobile" value="Sony" />
        <span class="count">12</span>

      </div>
      <div class="d-flex align-items-center justify-content-between">
        <p-checkbox class="label" label="Xiaomi" name="mobile" value="Xiaomi" />
        <span class="count">12</span>

      </div>
      <div class="d-flex align-items-center justify-content-between">
        <p-checkbox class="label" label="Apple" name="mobile" value="Apple" />
        <span class="count">12</span>

      </div>
      <div class="d-flex align-items-center justify-content-between">
        <p-checkbox class="label" label="Canon" name="mobile" value="Canon" />
        <span class="count">12</span>

      </div>
      <div class="d-flex align-items-center justify-content-between">
        <p-checkbox class="label" label="HUAWEI" name="mobile" value="HUAWEI" />
        <span class="count">12</span>

      </div>
      <div class="d-flex align-items-center justify-content-between">
        <p-checkbox class="label" label="HP" name="mobile" value="HP" />
        <span class="count">12</span>

      </div>
      <div class="d-flex align-items-center justify-content-between">
        <p-checkbox class="label" label="Lenovo" name="mobile" value="Lenovo" />
        <span class="count">12</span>

      </div>
    </div>
  </div>

  <div class="price-range my-5">
    <p class="title">Price Range (EGP)</p>
    <div class="d-flex justify-content-between align-items-center">
        <span>From</span>
        <div class="card range-input flex justify-content-center">
            <input type="text" pInputText />
        </div>
        <span>to</span>
        <div class="card range-input flex justify-content-center">
            <input type="text" pInputText/>
        </div>
    </div>
  </div>

  <div class="rating">

    <p class="title">Product Rating</p>
    <p-slider (onChange)="changeSlider($event)" [(ngModel)]="rangeValues" [range]="true"
    [max]="5" styleClass="w-14rem" />
  </div>
</div>
